body {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  line-height: 1;
}
body, .login-submit, .login-submit:before, .login-submit:after {
  background: #373737 url("../Images/bg.jpg") 0 0 repeat;
}
.LoginWindow{
display:"";
height:200px;
width:400px;
position: absolute;
top:50%;
left:50%;
margin-top:-125px;
margin-left:-205px;
/*background: #373737 url("../Images/bg.png") 0 0 repeat;*/
animation: LoginWindow 2s linear ;
-moz-animation:LoginWindow 2s linear ;	/* Firefox */
-webkit-animation: LoginWindow 2s linear;	/* Safari 鍜� Chrome */
-o-animation:LoginWindow 2s linear ;	/* Opera */
}

.login_frame{
	height:200px;
	width:400px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-124px;
	margin-left:-204px;
	box-shadow: 10px 10px 1px #000000;
	animation:login_frame 2s linear;
	-moz-animation: login_frame 2s linear;	/* Firefox */
	-webkit-animation:login_frame 2s linear;	/* Safari 鍜� Chrome */
	-o-animation:login_frame 2s linear; 	/* Opera */
	}

a {
  color: #00a1d2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.registration {
  padding-left: 100px;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}
.login{
  position: relative;
  margin: 50px 0px 0px 20px;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}
input, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text], input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

.login-submit {
  position: absolute;
  top: 12px;
  right: 57px;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  /* Must use another pseudo element for the gradient background because Webkit */
  /* clips the background incorrectly inside elements with a border-radius.     */
	transition-duration:0.8s;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
	animation:login_button 3s;
	-moz-animation: login_button 3s;	/* Firefox */
	-webkit-animation:login_button 3s;	/* Safari 鍜� Chrome */
	-o-animation:login_button 3s; 	/* Opera */
}
h1{
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
	}

#timeArea{
position:fixed;
bottom:0px;
left:0px;
width:100%;
text-align:center;
}
