<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>oasys</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<!-- //要与下面的名称相同 -->
		<servlet-name>AdminSevlet</servlet-name>
		<!-- //调用的类的位置 -->
		<servlet-class>com.cz.oasys.servlet.AdminSevlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminSevlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
</web-app>